@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BestBikeRentalApp</h1>
</div>
    <div class="row" style="align-content:center">
        <div class="col" style="align-content:center">
            <h1 style="align-content:center">We make renting bikes a ride in the park.</h1>
        </div>
    </div>
<hr/>
        <div class="row">
            <div class="col">
                <h2>Affordable Rates</h2>
                <p>Click the button below to find bikes near you and make your reservation.</p>
                <a class="btn btn-primary" asp-controller="BikeStore" asp-action="Index">Start</a>
            </div>
            <div class="col">
                <h2>Easy Payment Options</h2>
                <p>Pay seamlessly and securely using Stripe.</p>
                 <button id="checkout-button">Checkout</button>
        </div>
