@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BestBikeRentalApp</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div class="row">
    <div class="col">
        <h2>Bike Rental Store</h2>
        <p>We have so many world class bikes for sale.</p>
        <p>Check out our inventory on our website.</p>
    </div>
    <div class="col">
        <h2>Rent Rates</h2>
        <p>Rent your bike by the hour.</p>
        <p>-OR- Rent rent your bike by the day.</p>
    </div>
    <div class="col">
        <h2>Easy Payment Options</h2>
        <p>Pay using PayPal.</p>
        <p>We accept Google or Apple Payment.</p>
    </div>
</div>